<div class="flat-show">
  <div class="cards-banner">
    <div class="cards">
      <div class="card-category">
        <%= image_tag("F1 bedroom.jpg", alt: "Bedroom") %>
      </div>

      <div class="card-category">
        <%= image_tag("F1 diningroom.jpg", alt: "Diningroom") %>
      </div>

      <div class="card-category">
        <%= image_tag("F1 kitchen.jpg", alt: "Kitchen") %>
      </div>
    </div>
  </div>
  <div class="card-flat-show">
    <div class="card-flat-info">
      <div class="card-flat-text">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
        <p><%= @flat.description %></p>

      </div>
    </div>
    <div class="card-flat-btns">
      <div class="card-flat-pricing">£<%= @flat.price %> per night</div>
      <%= link_to "Book", new_flat_booking_path(@flat), class: 'btn btn-info btn-lg' %>
      <%= link_to "View all pads", flats_path, class: 'btn btn-warning btn-lg' %>
    </div>
  </div>

</div>

