<h1><%= @flat.name %></h1>
  <p><%= @flat.address %></p>
  <p> <%= @flat.description %></p>
  <p>£ <%= @flat.price %></p>

<br><br>
<%= link_to "Book", new_flat_booking_path(@flat), class: 'btn btn-info' %>

<br><br>

<%= link_to "View all pads", root_path, class: 'btn btn-warning' %>

