<h1 class='my-3'>Book into <strong><%= @flat.name %></strong></h1>
<%= simple_form_for([@flat, @booking]) do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :guests, collection: 1..6, selected: 2%>
    <div class='d-flex justify-content-between'>
    <%= f.button :submit, class: 'btn btn-info'%>
    <%= link_to 'Back to the pad', flat_path(@flat), class: 'btn btn-warning' %>
    </div>
<% end %>


